<ion-header>
  <ion-navbar>
    <ion-title>
      Tienda
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row *ngFor="let pares of productosProvider.productos">
      <ion-col *ngFor="let item of pares">
        <img [src]="item.codigo | imagen" alt="">
        <p>
          {{item.producto}} 
          <br>
          {{item.precio_compra | currency:'USD':true}}
        </p>

      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-infinite-scroll (ionInfinite)="siguientePagina($event)">
   <ion-infinite-scroll-content></ion-infinite-scroll-content>
 </ion-infinite-scroll>

</ion-content>
