
<ion-header>

  <ion-navbar>
    <ion-buttons>
      <button ion-button (click)="viewCtrl.dismiss()">Cerrar</button>
    </ion-buttons>
    <ion-title>carrito</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

<div text-center class="carrito-vacio" *ngIf=" carritoProvider.items.length === 0 ">
    <ion-icon name="ios-cart-outline" class="icon-5x"></ion-icon>
    <br>
    Su carrito esta vacio
</div>

<div *ngIf="carritoProvider.items.length > 0">

  <ion-grid>
    <ion-row *ngFor="let item of carritoProviders.items">
      <ion-col>
        <img [src]="item.codigo | imagen " alt="">
      </ion-col>

      <ion-col>
        <p>{{item.producto}} </p>
        <p>{{item.precioCOmpra | currency: 'USD': true }} </p>
      </ion-col>

      <button ion-button color="danger" outline small>Eliminar</button>

    </ion-row>
  </ion-grid>

</div>

</ion-content>
